.o-compare-flights-review {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: ptr(16px);

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--grey-100);
    border-bottom: ptr(1px) solid var(--grey-200);
    padding: ptr(2px, 16px);

    @media #{$tablet} {
      padding: ptr(2px, 24px);
    }

    @media #{$desktop} {
      padding: ptr(2px, 32px);
    }
  }

  &__flight-numbers {
    display: flex;
    align-items: center;
    gap: ptr(8px);
  }


  &__container {
    display: flex;
    justify-content: space-between;
    gap: ptr(16px);
    padding: ptr(0, 16px);

    @media #{$tablet} {
      padding: ptr(0, 24px);
    }

    @media #{$desktop} {
      padding: ptr(0, 32px);
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: ptr(1px) solid var(--grey-200);
    padding: ptr(16px);

    @media #{$tablet} {
      padding: ptr(24px);
    }

    @media #{$desktop} {
      padding: ptr(32px);
    }
  }
}