.react-aria-Checkbox {
  --selected-color: var(--highlight-background);
  --selected-color-pressed: var(--highlight-background-pressed);
  --checkmark-color: var(--highlight-foreground);

  display: flex;
  /* This is needed so the HiddenInput is positioned correctly */
  position: relative;
  align-items: center;
  gap: 0.499625rem;
  font-size: 1.000125rem;
  color: var(--text-color);
  forced-color-adjust: none;

  .checkbox {
    width: 1.000125rem;
    height: 1.000125rem;
    border: 2px solid var(--grey-200);
    border-radius: 4px;
    transition: all 200ms;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
  }

  svg {
    width: 0.875rem;
    height: 0.875rem;
    fill: none;
    stroke: var(--grey-700);
    stroke-width: 3px;
    stroke-dasharray: 22px;
    stroke-dashoffset: 66;
    transition: all 200ms;
  }

  &[data-pressed] .checkbox {
    border-color: var(--grey-600);
  }

  &[data-focus-visible] .checkbox {
    outline: 2px solid var(--purple-500);
    outline-offset: 2px;
  }

  &[data-selected],
  &[data-indeterminate] {
    .checkbox {
      border-color: var(--purple-700);
      background: var(--purple-700);
    }

    &[data-pressed] .checkbox {
      border-color: var(--purple-600);
      background: var(--purple-600);
    }

    svg {
      stroke-dashoffset: 44;
      stroke: var(--white-900);
    }
  }
}