.a-button{
  @include font($button);
  text-align: center;
  border-width: ptr(1px);
  border-style: solid;
  border-radius: ptr(20px);
  padding: ptr(7px, 8px);
  &--full {
    width: 100%;
  }

  &--primary{
    color: var(--white-900);
    background: var(--purple-500);
    border-color: var(--purple-500);

    &:hover,
    &[data-pressed] {
      box-shadow: inset 0 1px 2px rgb(0 0 0 / 0.1);
      background: var(--purple-700);
      border-color: var(--purple-700);
    }

    &[data-focus-visible] {
      outline: 2px solid var(--purple-200);
      outline-offset: -1px;
    }
  }

  &--icon {
    border-color: transparent;
    background-color: transparent;
    border-radius: ptr(50%);
    line-height: 0;
    &:hover,
    &[data-pressed] {
      background: var(--grey-300);
      border-color: var(--grey-500);
    }

    &[data-focus-visible] {
      outline: 2px solid var(--purple-200);
      outline-offset: -1px;
    }
  }

}