.o-dialog {
  &__overlay {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: var(--visual-viewport-height, 100dvh);
    background: rgb(0 0 0 / 50%);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__content {
    border-top-left-radius: ptr(16px);
    border-top-right-radius: ptr(16px);
    outline: none;
    width: 100%;
    max-height: 100%;
    border: 1px solid var(--grey-200);
    background: var(--white-900);
    position: absolute;
    bottom: 0;

    @media #{$tablet} {
      border-radius: ptr(16px);
      position: static;
    }
  }

  &__content-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    max-height: min(var(--visual-viewport-height, 100dvh), 100dvh);
  }

  &__header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: ptr(16px);
    padding: ptr(8px);
    border-bottom: ptr(1px) solid var(--grey-200);
    @media #{$tablet} {
      padding: ptr(16px);
    }

    @media #{$desktop} {
      padding: ptr(24px);
    }
  }

  &__header-text{
    display: flex;
    flex-direction: column;
  }

  &__title {
    @include font($h4);
    color: var(--grey-700);
    margin: 0;
  }

  &__subtitle {
    @include font($bodyLight);
    color: var(--grey-600);
    margin: 0;
  }


  &__component-wrapper {
    height: 100%;
    overflow: hidden;
  }

  &__button-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}