@use 'sass:list';
@use 'sass:math';

@function strip-unit($num) {
  @return math.div($num, $num * 0 + 1);
}

@function ptr($size...) {
  $max: list.length($size);
  $value: '';
  $remSize: '';

  @for $i from 1 through $max {
    @if strip-unit(list.nth($size, $i)) ==0 {
      $value: 0;
    } @else {
      $value: #{math.div(strip-unit(list.nth($size, $i)), 16) + 'rem '};
    }

    $remSize: #{$remSize}#{$value + ' '};
  }

  @return #{$remSize};
}
